/*
 * Basic CSS
 */

body {
    padding:20px 5%;
    color:#333;
    font-size:16px;
    color:#444;

}

p {
    line-height:1.5;
}

a {
    color:#EC651B;
}

.container {
    margin:0 auto;
}





header, nav, section {
    margin-bottom:2em;
}


.container { width:860px; }