/* Basic styling
--------------------------------------------- */

body {
    padding: 20px 5%;
    color: #333;
    font-size: 16px;
    color: #444;
}

p {
    line-height: 1.5;
}

a {
    color: #EC651B;
}

.container {
    margin: 0 auto;
}

header, nav, section {
    margin-bottom: 2em;
}

.container {
    width: 860px;
}


/* Meny
--------------------------------------------- */

body > .container:first-of-type {
    margin-top: 120px;
}

.siteheader {
    position: fixed;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    background: #fff;
}

.sitenav {
    background: #1b1b1b;
    margin: 0;
}

.sitenav ul {
    margin: 0;
    padding: 0;
}

.sitenav li {
    padding-top: 5px;
    float: left;
}

.sitenav li.active {
    background-color: #fd5157;
}

.sitenav li:hover {
    background: #ccc;
}

.sitenav li a {
    display: block;
    padding: 10px;
    color: #ccc;
    text-decoration: none;
}

.sitenav li a:hover {
    color: #fff;
}

.sitenav li a, .sitenav li a:hover, .sitenav li a:active {
    background: #1b1b1b;
}

.group:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
