/* Basic styling
--------------------------------------------- */

body {
    font-size: 16px;
    color: #4D4F53;
    background: #eceef1;
}

p {
    line-height: 1.5;
}

a {
    color: #228fd3;
}

h1 {
    margin: -50px -50px 0 -50px;
    padding: 30px 50px;
    font-weight: normal;
    font-size: 1.5em;
    background: #228fd3;
    color: #fff;
}

h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1em;
    color: #000;
}

header, nav, section {
    margin-bottom: 2em;
}

.container {
    width: 860px;
    margin: 0 auto;
    background: #fff;
    padding: 50px;
}

article {
    background: #eceef1;
    padding:1em 2em;
    margin:0 0 2em 0;
    border-left:5px solid #228fd3;
}


/* Meny
--------------------------------------------- */

body > .container {
    margin-top: 140px;
}

.siteheader {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left:-480px;
}

.siteheader .container {
    padding-bottom: 0;
}

.sitenav {
    background: #26282b;
    margin: 0 -50px;
    padding: 0 50px;
}

.sitenav ul {
    margin: 0;
    padding: 0;
}

.sitenav li {
    padding-top: 5px;
    float: left;
}

.sitenav li.active {
    background-color: #fff;
}

.sitenav li:hover {
    background: #ccc;
}

.sitenav li a {
    display: block;
    padding: 1em;
    color: #ccc;
    text-decoration: none;
}

.sitenav li a:hover {
    color: #fff;
}

.sitenav li a, .sitenav li a:hover, .sitenav li a:active {
    background: #26282b;
}

.group:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


/* Responsive
--------------------------------------------- */

.retina {
    display: none;
}
